body {
    width: 38vw;
    margin: auto;
    
}

.grid-container {
    display: grid;
    /*                     20% 20% 20% 20% 20%  */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        /*              20% 10% 60% 10% */
    grid-template-rows: 2fr 1fr 6fr 1fr;
    height: 100vh;
}

.part1 {
grid-column: 1 / 6;
grid-row: 1 / 2;
background-color: red;
}

.part2 {
grid-column: 1 / 6;
grid-row: 2 / 3;
background-color: orange;
}

.part3 {
grid-column: 1 / 6;
grid-row: 3 / 4;
background-color: yellow;
}

.menu1 {
grid-column: 1 / 2;
grid-row: 4 / 5;
background-color: green;
}

.menu2 {
grid-column: 2 / 3;
grid-row: 4 / 5;
background-color: teal;
}

.menu3 {
grid-column: 3 / 4; 
grid-row: 4 / 5;
background-color: greenyellow
}

.menu4 {
grid-column: 4 / 5;
grid-row: 4 / 5;
background-color: turquoise
}

.menu5 {
grid-column: 5 / 6;
grid-row: 4 / 5;
background-color:blue;
}

